<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LogModelContainer" connectionString="metadata=res://*/LogModel.csdl|res://*/LogModel.ssdl|res://*/LogModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=D:\etc\EnterpriseEngineTest\Data.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="SQLite Data Provider"
            invariant="System.Data.SQLite"
            description="Data Provider for SQLite"
            type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>