<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DatabasePath" value="Data.db"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEnterpriseApi"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/EnterpriseEngineApi/EnterpriseApi.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEnterpriseApi" contract="EnterpriseApi.IEnterpriseApi" name="BasicHttpBinding_IEnterpriseApi"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
